:root {
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(230, 237, 254, 1) 100%
  );
}

.column {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.accordion {
  list-style-type: none;
  padding-inline-start: 0px;
  width: 500px;
}

.accordion-title {
  margin: 0;
  cursor: pointer;
  padding: 8px;
  background: #00409c;
  color: #fff;
  border-bottom: 1px solid #fff;
  font-size: 18px;
}

.accordion-content {
  display: flex;
  background: #d1e4ff;
  padding: 8px;
}

/* Для экранов шириной от 576px до 767px */
@media (min-width: 576px) and (max-width: 767px) {
  .accordion {
    width: 400px;
  }
  h1 {
    font-size: 18px;
  }
}

/* Для экранов шириной до 575px */
@media (max-width: 575px) {
  .accordion {
    width: 300px;
  }
  h1 {
    font-size: 18px;
  }
}
